server:
  port: 6060

# spring:
#   datasource:
#     url: jdbc:mysql://localhost:8080/davi_home
#     username: root
#     password: root_Teste2024@
#     driver-class-name: com.mysql.cj.jdbc.Driver
  
#   jpa:
#     database-platform: org.hibernate.dialect.MySQLDialect
#     hibernate: 
#       ddl-auto: update
#     show-sql: true
  
#   application:
#     name: SPRING_PROJECT

spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:file:./data/test
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    
jwt:
  secret: sai_daqui_fi
  expirationMs: 86400000